.footer {
  padding: 20px;
  background-color: #d2b489;
  text-align: center;
}

.footer p {
  margin-bottom: 10px;
  font-size: 14px;
}

.social-links a {
  color: #2d572c;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.social-links a:hover {
  color: #1d3f1f;
}
